include LICENSE
include Makefile
include README.md
include setup.py
include tox.ini
include ibloom/bloom.c
include ibloom/bloom.h
include ibloom/bloom.pxd
include ibloom/ibloom.pyx
include ibloom/main.c
include ibloom/Makefile
include ibloom/murmur.c
include bench/benchmark.py
include tests/test_accuracy.py
